.container {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(5, 70px);
    row-gap: 15px;
    column-gap: 17px;
    margin: 100px 700px 100px 200px;
    padding: 38px 38px 0px 35px;
    background-color: #F7F7F7;
}

.video {
    background-color: #C4C4C4;
    grid-area: 1 / 1 / 4 / 7;
}

.propaganda {
    background-color: #C4C4C4;
    color: #000000;
    font-size: 11px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-area: 1 / 7 / 1 / 10;
}

.video-1 {
    background-color: #C4C4C4;
    grid-area: 2 / 7 / 3 / 7;
}

.video-2 {
    background-color: #C4C4C4;
    grid-area: 3 / 7 / 4 / 7;
}

.video-3 {
    background-color: #C4C4C4;
    grid-area: 4 / 7 / 5 / 7;
}

.texto-video-1{
    grid-area: 2 / 8 / 3 / 10;
}

.texto-video-2 {
    grid-area: 3 / 8 / 4 / 10;
}

.texto-video-3 {
    grid-area: 4 / 8 / 5 / 10;
}

.titulo-video {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.canal-video {
    font-size: 11px;
    font-weight: 300;
    line-height: 12px;
    padding-top: 7px;
}

.visualizacoes-video {
    font-size: 11px;
    font-weight: 300;
    line-height: 12px;
    padding-top: 5px;
}

.tempo-visualizacao-video {
    font-size: 11px;
    font-weight: 300;
    line-height: 12px;
    padding-top: 5px;
}

.titulo-video {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    grid-area: 4 / 1 / 5 / 7;
}

.visualizacoes {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding-top: 7px;
}

.texto {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    padding-top: 7px;
}
